.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  color: white;
}

.content{
  display: flex;
  padding: 0.5rem;
  overflow-x: scroll;
}
@media only screen and (max-width: 720px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    position: relative;
  }
}
 .content::-webkit-scrollbar{
   width:10px ;
   height: 10px;

 }
 .content::-webkit-scrollbar-thumb{
   background: #61dafb;
   border-radius: 5px;
   box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, .25),inset -2px -2px 2px rgba(0, 0, 0, .25);

 }

 .content::-webkit-scrollbar-track{
  background: linear-gradient(90deg,#201c29,#201c29,1px,#17141d 0,#17141d);
  /* background: linear-gradient(90deg,black,black,1px,black 0,black); */
 }


/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.container {
  color:#999;
  text-transform: uppercase;
  font-size:32px;
  font-weight:bold;
  display:block;
}

.flip {
  height:50px;
  overflow:hidden;
  margin: 5px;
  padding: 5px;
}

.flip > div > div {
  color:#fff;
  padding:4px 12px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
}

.flip div:first-child {
  animation: show 4s linear infinite;
}

.flip div div {
  background:#42c58a;
  border-radius: 5px;
}
.flip div:first-child div {
  background:#4ec7f3;
  border-radius: 5px;
}
.flip div:last-child div {
  background:#DC143C;
  border-radius: 5px;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}

.search{
  
  font-size: larger;
  font-family: Segoe UI;
  text-shadow:0px 0px 2px royalblue;
  
}

.searchSubmit{
  
  font-family: Segoe UI;
  font-size: larger;
  text-shadow:0px 0px 2px royalblue;
 
}

#logo{
width: 55%;
}

#logo path:nth-child(0){
  stroke-dasharray: 531 ;
  stroke-dashoffset: 531;
}
#logo path:nth-child(2){
  stroke-dasharray: 30px ;
  stroke-dashoffset: 50px;
}
/* #logo path:nth-child(3){
  
}
#logo path:nth-child(4){
  
}
#logo path:nth-child(5){
  
}
#logo path:nth-child(6){
  
}
#logo path:nth-child(7){
  
}
#logo path:nth-child(8){
  
}
#logo path:nth-child(9){
  
}
#logo path:nth-child(1)0{
  
} */




