.recepie{ 
    display: flex;
    position: relative;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: auto;
    width: auto;
    margin: .5rem;
    min-width: auto;
    /* margin: 1rem; */
    padding: .5rem;
    border-radius: 10px;
    /* border-color: rgb(156, 165, 165); */
    background-color: rgb(96, 128, 128);
    box-shadow: -1rem 0 3rem #000;
    transition: .1s;
    /* border-spacing: 10px; */
    
}

.card-header{
    font-size: larger;
    font-family: cursive;
    font-weight: 600;
    margin: .5rem;
    text-transform: capitalize;
    transition: .3s;
}
.card-header:hover{
    color: black;
    transform: scale(1.1);
    
    text-shadow: 2px 2px 5px orangered;
    /* background: linear-gradient(90deg,#ff8a00,#e52ee5);
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent; */
}

.imgClass{
    max-width: 200px;
    min-width: 100px;
    max-height: 200px;
    min-height: 100px;
    display: block;
    /* width: 150px;
    height: 150px; */
    transition: .2s;
    border-radius: 25%;
}
.imgClass:hover{
   transform: scale(1.05);
   box-shadow: 2px 2px 4px black;
 
}
.ingrediants{
    display: inline;
    text-align:start;
}
.ingrediants:hover{
   font-size: larger;
}


.recepie:hover{
    transform: translateY(-1rem);
}
.recepie:hover~.recepie{
    transform: translateX(130px);
}
.recepie:not(:first-child){
    margin-left:-130px;
}
@media only screen and (max-width: 720px) {
 
    .recepie{ 
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        justify-content: center;
        height: auto;
        width: auto;
        border-radius: 10px;
        background-color: rgb(96, 128, 128);
        box-shadow: 0px 0px 10px whitesmoke;
        transition: .1s;
       
        /* border-spacing: 10px; */
        
    }
    .recepie:not(:first-child){
        margin-left:0px;
    }
    
    .recepie:hover{
        transform: translateX(0rem);
    }
    .recepie:hover~.recepie{
        transform: translateX(0px);
    }
   
    /* .recepie:hover~.recepie{
        
    } */
  }